<div class="main">
  <buffer></buffer>
  <buffer-count></buffer-count>
  <buffer-time></buffer-time>
  <buffer-toggle></buffer-toggle>
  <buffer-when></buffer-when>
  <hr />
  <window></window>
  <window-count></window-count>
  <window-time></window-time>
  <window-toggle></window-toggle>
  <window-when></window-when>
  <hr />
  <concat-map></concat-map>
  <concat-map-to></concat-map-to>
  <exhaust-map></exhaust-map>
  <merge-map></merge-map>
  <merge-map-to></merge-map-to>
  <switch-map></switch-map>
  <switch-map-to></switch-map-to>
  <hr />
  <expand></expand>
  <group-by></group-by>
  <map></map>
  <map-to></map-to>
  <scan></scan>
  <merge-scan></merge-scan>
  <reduce></reduce>
  <to-array></to-array>
  <partition></partition>
  <pluck></pluck>
</div>
